In [6]:
import datetime # Tipo de dato para fechas y horas
import pandas as pd # Manejo de datos tabulados
import numpy as np # Algebra Lineal y operaciones matematicas
import matplotlib.pyplot as plt # Graficos de datos
import seaborn as sns # Graficos estadisticos
import pandas_profiling as ppr # ?????????
import geopandas as gpd # Pandas para datos geograficos (Mapas!!)
from fitter import Fitter # Ajuste de distribuciones de probs

In [ ]:
%matplotlib inline

In [ ]:
sns.set_theme(style="whitegrid")

In [3]:
# Leemos los datos seleccionados
df_main = pd.read_csv('../data/GlobalNationsEconomy_Population.csv')

In [4]:
df_main.head()

,Country Name,2018,2017,2016,2015,2014
0,China,"1,39,27,30,000","1,38,63,95,000","1,37,86,65,000","1,37,12,20,000","1,36,42,70,000"
1,India,"1,35,26,42,283","1,33,86,76,779","1,32,45,17,250","1,31,01,52,392","1,29,56,00,768"
2,United States,"32,68,38,199","32,51,22,128","32,30,71,755","32,07,38,994","31,83,86,329"
3,Indonesia,"26,76,70,549","26,46,50,969","26,15,56,386","25,83,83,257","25,51,28,076"
4,Pakistan,"21,22,28,288","20,79,06,210","20,36,31,356","19,94,26,953","19,53,05,012"

In [5]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  215 non-null    object
 1   2018          215 non-null    object
 2   2017          215 non-null    object
 3   2016          215 non-null    object
 4   2015          215 non-null    object
 5   2014          215 non-null    object
dtypes: object(6)
memory usage: 10.2+ KB